@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto', sans-serif;
    @apply w-full h-screen flex justify-start md:justify-center;
    max-width: 100vw;
  }
  h1 {@apply font-bold text-3xl;
  }
  h2 {@apply font-bold text-2xl;
  }
  h3 {@apply font-bold text-lg;
  }

  body {
    @apply antialiased text-gray-900;
  }
  input{
    @apply p-2;
  }
  tr:last-child td:first-child { @apply rounded-bl-xl }
  tr:last-child td:last-child { @apply rounded-br-xl }
}
@layer components {
  .page {
    max-width: 100%;
    width: 210mm;
    height: 297mm;
    page-break-after: always;
  }
  .page-wrapper{
    @apply antialiased text-gray-900 bg-gray-200 flex items-center justify-start  relative ;
  }
  .label{
    @apply w-full  flex items-center px-2 rounded-md;
  }
  .invoice_list{
    grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr 3fr;

  }
  .invoice_items{
    grid-template-columns: 1.5fr 3.5fr 1fr 1.25fr 0.75fr 1fr;

  }
  .customer_list{
    grid-template-columns: 0.75fr 0.75fr 1.25fr 0.75fr 2fr 1fr 0.5fr 1fr;

  }
  
}